<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.chapter2.mapper.UserMapper">
    <resultMap id="userMap" type="com.learn.chapter2.po.User">
        <id column="id" property="id" javaType="long" jdbcType="BIGINT"/>
        <result column="user_name" property="userName"/>
        <result column="cnname" property="cnname"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="note"/>
    </resultMap>
    <select id="getUser" parameterType="long" resultMap="userMap">
        select id, user_name,cnname,birthday,sex,email,mobile,note from t_user where id=#{id}
    </select>
    <select id="countFirstName" parameterType="string" resultType="int">
        select count(*) as total from t_user where user_name like concat (#{firstName},'%')
    </select>
    <!--<select id="findRole" parameterType="string" resultMap="roleMap">
        select id, role_name, note from t_role
        where role_name like concat('%',#{roleName javaType=string, jdbcType=VARCHAR, typeHandler=
        com.learn.chapter2.typeHandler.MyStringTypeHandler}, '%')
    </select>-->
    <insert id="insertUser" parameterType="com.learn.chapter2.po.User">
        insert into t_user(user_name,cnname,birthday,sex,email,mobile,note) value (#{userName},#{cnname},#{birthday},
        #{sex, typeHandler=org.apache.ibatis.type.EnumTypeHandler},#{email},#{mobile},#{note})
    </insert>
    <!--<delete id="deleteRole" parameterType="long">
        delete from t_role where id=#{id}
    </delete>-->
</mapper>